{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }} class="photo-date">
      {% for item in items %}
        <div{{ item.attributes }} class="photo-date">{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }} class="photo-date">{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes }} class="photo-date-title">{{ label }}</div>
    {% if multiple %}
      <div class="photo-date">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }} class="photo-date">{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
