<article{{ attributes }}>
    <div class="margin">
      <div{{ content_attributes }}>
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
        {{ content }}
          <a href="{{ url }}" class="links">VIEW DETAILS</a>
      </div>
    </div>
</article>
