<article{{ attributes }}>
    <div class="margin">
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      <div{{ content_attributes }}>
        {{ content }}
        <a href="{{ url }}" class="photo-link">VIEW PHOTO</a>
      </div>
    </div>
</article>
